@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F4E9;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 32px;
}

header .logo, header .logo a {
    height: 100%;
}

header .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo a img {
    height: 65%;
}

header .right {
    display: flex;
    height: 100%;
    gap: 32px;
    font-weight: 500;
    color: #234C4C;
}

header .right nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-button:hover {
    color: #FEA322;
}

.nav-active {
    color: #FEA322;
    text-decoration: underline;
}

header .right .icons {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

header .right .icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .right .icons a .notif-icon-img {
    height: 56px;
}

header .right .icons a .profile-icon-img {
    height: 60px;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.563rem;   
  color: #063434;
  padding-top: 0.938rem;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}


.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.625rem; 
  font-size: 1.25rem;      
  color: #063434;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}